/GC

*.csv


*.hpp

*.cpp


*.rda

hierarchical/12-1000-student1

*.003_dsets_2_delta_acc_cauchy_samples_sizes_50simulationID_11

hierarchical/delta00Std00.003_dsets_2_delta_acc_cauchy_samples_sizes_50simulationID_12

hierarchical/delta00Std00.003_dsets_2_delta_acc_cauchy_samples_sizes_50simulationID_13

hierarchical/delta00Std00.003_dsets_2_delta_acc_cauchy_samples_sizes_50simulationID_14

hierarchical/12-1000-student4

hierarchical/12-1000-student2

hierarchical/12-1000-student3

hierarchical/15-1000-student4

*.dat*

*.StanOut1

*.StanOut2

*.StanOut4

*.StanOut3

*.StanOut6

*.StanOut8

*.StanOut7

*.StanOut5

*.html

*.arff

*.pdf

hierarchical/Untitled.R

hierarchical/Rdata/compTable.R

hierarchical/Rdata/plotPosterior.R

hierarchical/Rdata/sensitvity.xls

hierarchical/csvResults/.Rhistory

hierarchical/.Rhistory

*.StanOut

hierarchical/svnCheckout.txt

*.tex

hierarchical/Rdata/.Rhistory

hierarchical/Rdata/.Rapp.history

*.history

hierarchical/weka/weka500runs.Rdata

hierarchical/sandbox.R

hierarchical/weka/weka500runsRawResults.Rdata

hierarchical/weka/weka500runsRawResults.Rdata

*.Rdata
