/GC

R/BayesianSignedRank.R

R/analyze_uci_with_rope.R

R/BayesianSignTest.R

*.csv

R/find-pars.R

R/getMargLik.R

*.Rdata

R/predictive_halfCval.R

R/predictiveComparison.R

R/plot_posterior.r

R/MultipleDsetsRopeSignedRank.R

R/multiple_dsets_generative.R

R/hierarchical-t-test.rda

*.hpp

*.cpp

R/hierarchical-t-test
