/GC

hierarchical/BayesianSignedRank.R

hierarchical/analyze_uci_with_rope.R

hierarchical/BayesianSignTest.R

*.csv

hierarchical/find-pars.R

hierarchical/getMargLik.R

*.Rdata

hierarchical/predictive_halfCval.R

hierarchical/predictiveComparison.R

hierarchical/plot_posterior.r

hierarchical/MultipleDsetsRopeSignedRank.R

hierarchical/multiple_dsets_generative.R

hierarchical/hierarchical-t-test.rda

*.hpp

*.cpp

